<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!--Main content-->

<main>
  <div class="container"><%- include('Contents/' + page + '.ejs');%></div>
</main>

<main class="container"></main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
